<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" shape="round" (click)="Back()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Registro de Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full" class="ion-no-padding">
    <form [formGroup]="newUserForm" (ngSubmit)="addNewUser()">
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input type="text" formControlName="nombre" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Edad</ion-label>
        <ion-input type="number" formControlName="edad" min="18" max="80" inputmode="numeric" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Teléfono</ion-label>
        <ion-input type="tel" formControlName="telefono" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Tipo de Usuario</ion-label>
        <ion-select formControlName="tipo_usuario" required>
          <ion-select-option value="admin">Administrador</ion-select-option>
          <ion-select-option value="artesano">Artesano</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" formControlName="contrasenia" required></ion-input>
      </ion-item>

      <ion-button expand="block" type="submit" color="primary" [disabled]="!newUserForm.valid">Registrar</ion-button>
    </form>
  </ion-list>
</ion-content>
