<ion-header>
  <ion-toolbar>
    <ion-icon slot="start" name="woman-outline" size="15"></ion-icon>
    <ion-icon slot="end" name="person-circle-outline"></ion-icon>
    <ion-title>
      La tienda de Bety
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-segment [(ngModel)]="category">
    <ion-segment-button value="shirt">
      camisas
    </ion-segment-button>
    <ion-segment-button value="dress">
      Vestidos
    </ion-segment-button>
    <ion-segment-button value="pants">
      Pantalones
    </ion-segment-button>
    <ion-segment-button value="blouse">
      Blusas
    </ion-segment-button>
  </ion-segment>

  <ion-grid *ngIf="category === 'shirt'">
    <ion-row>
      <ion-col size="6" *ngFor="let item of shirtItems">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ item }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            This is a shirt item.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="category === 'dress'">
    <ion-row>
      <ion-col size="6" *ngFor="let item of dressItems">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ item }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            This is a dress item.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="category === 'pants'">
    <ion-row>
      <ion-col size="6" *ngFor="let item of pantsItems">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ item }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            This is a pants item.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="category === 'blouse'">
    <ion-row>
      <ion-col size="6" *ngFor="let item of blouseItems">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ item }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            This is a blouse item.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="primary" (click)="addProduct()">
        <ion-icon name="shirt"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="secondary" (click)="addUser()">
        <ion-icon name="person-add"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>